.avertImage{
  width: 80%;
  margin-left: 10%;
  margin-right: auto;

}

.containerMain{
  z-index:-1;
padding-left: 5%;
 padding-top: 2%;
 overflow:auto;
 margin-top: -1.3%;
  background-color: #dddddd;
  margin-bottom: 0;
}

.adverCard{
  width: 29%;
float:left;
margin-left: 2%;
height: 220px;
  -webkit-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
margin-right: 2%;
margin-bottom: 5%;
background-color: white;
padding: 1%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.finalContainer{
  background-color: #ededed;
  padding-top: 2%;
}
