.head{
  display: inline-block;
  width: 100%;
  height: 20%;
  border-bottom:  5px solid red;
}

.oppLogo{
  width: 55px;
  height: 55px;
  float: left;
  margin-left: 6%;
  margin-right: 5px;
  margin-top: 1%;
  overflow: auto;
  padding: 0;

}

.catContainer{
  float: left;
  margin-top: 1.4%;
}

.category{
font-family: Roboto;
font-size: 14px;
overflow: auto;
margin-bottom: 2px;
color: #8a8a8a;
text-decoration: none solid rgb(138, 138, 138);
margin-top: 1.65%;
padding: 0;


}

.categoryName{
font-family: Roboto;
margin-top: 3%;

font-size: 14px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
padding: 0;

}

.myOpportunities{
float: left;
font-family: Roboto;
padding: 0;
margin-top: 2%;
margin-left: 12.5%;
font-size: 24px;
color: #000000;
font-weight: 350;
text-decoration: none solid rgb(0, 0, 0);
}

.saved{
  float: left;

font-family: Roboto;
font-size: 16px;
color: #8c8c8c;
text-decoration: none solid rgb(140, 140, 140);
margin-top: 2.7%;
margin-left: 5%;
}

.slash{
  float: left;
  margin-top: 2.65%;
  margin-left: 2%;

font-family: Roboto;
font-size: 16px;
color: #d1d1d1;
text-decoration: none solid rgb(209, 209, 209);
}
.applied{
  float: left;
  font-family: Roboto;
  font-size: 16px;
  color: #8c8c8c;
  text-decoration: none solid rgb(140, 140, 140);
  margin-top: 2.7%;
  margin-left: 2%;


}

.newOpp{
  margin-top: 2.4%;
  margin-left: 14%;
  font-size: 17px;


background-image: linear-gradient(90deg, #ffcd03 2%, #ffdb4b 100% );
background-position: center center;
border-color: #ffdb4b;

}

.modalCard{
  position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin-left: 27%;
    margin-top: 20%;
    width: 50%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff;

    -webkit-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 4px -1px rgba(0,0,0,0.75);
  overflow: auto;
     /* Fallback color */
}
.modalHeader{
  overflow: auto;
  border-bottom: 1px solid grey;
}

.profiles{
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 10px;
font-weight: 300;
font-family: Roboto;
font-size: 16px;
color: #474747;

}

.cross{
  overflow: auto;
  margin-top: 2%;
  margin-right: 1%;
  padding: 0;
  float: right;
  margin-bottom: 0;


width: 25px;
height: 25px;
}

.postOpp{
  overflow: auto;
  padding: 10px;
}

.postOpp:hover{
  background-color: #ffdb4b;
  overflow: auto;
}

.imgContainer{
  float: left;
}

.profileIcon{
  width: 24px;
  height: 24px;
  display: block;
  margin-left:60px;
  margin-top: 15px;
  padding: 0;



}

.avatar{
  padding: 0;
  margin-top: -8px;
  width: 45;
  height: 45px;
  display: block;
  margin-left:40px;

  border-radius: 58px;
  border: 2px solid #000000;

}

.nameContainer{
  float: right;
  margin-right: 32%;
  margin-top: 5%;

}

.namePost{

font-family: Roboto;
font-size: 20px;
color: #474747;
font-weight: 700;
}

.indivProfile{

font-family: Roboto;
font-size: 14px;
color: #474747;

}

.avatarBuilding{
  padding: 0;
  margin-top: 28px;
  width: 45;
  height: 45px;
  display: block;
  margin-left:40px;

}

.nameContainerComp{
  float: right;
  margin-right: 31%;
  margin-top: 1%;

}
