.topCardsContainer{
  overflow: auto;
  margin-left: 8%;
}
.myAppsCard{
background-color: white;
float: left;
width: 30%;
border-top: 4px solid #ffc800;
-webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);

}

.savedOpps{
background-color: white;
float: left;
width: 30%;
margin-left: 2%;
-webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
}

.postedOpps{
background-color: white;
float: left;
width: 30%;
margin-left: 2%;
-webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
}

.myAppsHeading{
margin-left: 30%;
margin-top: 9%;
margin-bottom: 8%;

font-family: Roboto;
font-size: 18px;
color: #ffc800;
text-decoration: none solid rgb(255, 200, 0);
line-height: 24px;
}


.savedOppsHeading{
margin-left: 30%;
margin-top: 9%;
margin-bottom: 9%;
font-family: Roboto;
font-size: 18px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
line-height: 24px;
}

.bottomCardsContainer{
  overflow: auto;
  margin-left: 8%;
}


.leftCardContainer{
  float: left;
  width: 62%;
}

.rightCardContainer{
  float: left;
  margin-left: 2%;
  width: 30%;
  margin-top: 1.6%;
background-color: #ffffff;
box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.topCardOpp{
  background: white;

}

.appliedOppsHeading{
  padding-top: 2%;
  padding-left: 4%;
font-family: Roboto;
font-size: 18px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
}

.appliedOppsHeadingOne{
  padding-top: 0.1%;
  padding-left: 4%;
font-family: Roboto;
font-size: 18px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
}
.compAvatar{
  float: left;

  width: 40px;
  border: 2px dotted #ffc800;
  padding: 5%;

}

.compAvatarOne{
  float: left;
margin-left: 4%;
  width: 40px;
  border: 2px dotted #ffc800;
  padding: 9%;
  margin-bottom: 8%;

}

.detailsContainerOne{
  float: left;
  margin-left: 5%;
}

.oppTitleHead{
margin: 0;
margin-top: 14%;
font-family: Roboto;
font-size: 16px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
line-height: 18px;
}

.otherDetails{
  margin: 0;
  font-weight: 100;
font-family: Roboto;
font-size: 14px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
line-height: 18px;
}

.buttonContainer{
  float: left;
  margin-left: 35%;
}

.buttonContainerOne{
  float: left;
  margin-left: 23%;

}

.submittedHead{
  font-weight: 100;
  margin: 0;
  margin-left: 18%;
  margin-top: 25%;
font-family: Roboto;
font-size: 13px;
color: #5e5e5e;
text-decoration: none solid rgb(94, 94, 94);
}

.submittedHeadOne{
  font-weight: 100;
  margin: 0;

  margin-top: 20%;

font-family: Roboto;
font-size: 13px;
color: #5e5e5e;
text-decoration: none solid rgb(94, 94, 94);
}

.viewButton{
  width: 89px;
height: 37px;
background-color: #ffc800;
}

.listCard{
padding-top: 2%;
padding-left: 4%;
  border-bottom: 1px solid #d1d1d1;
}
.listCardOne{
padding-top: 2%;
padding-left: 4%;
  border-bottom: 1px solid #d1d1d1;
  overflow: auto;
}

.ulli{
  padding: 0;
}

.viewButtonOne{
  width: 89px;
height: 37px;
border: 2px solid #ffc800;
background-color: #ffffff;
}

.editButton{
  width: 89px;
height: 37px;
background-color: #ffc800;
margin-left: 5%;
}
