.postedOppsOne{
  background-color: white;
  float: left;
  width: 30%;
  margin-left: 2%;
  border-top: 4px solid #ffc800;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
}

.subOpp{
margin: 0;
font-weight: 100;
margin-left: 4%;
font-family: Roboto;
font-size: 14px;
color: #404040;
text-decoration: none solid rgb(64, 64, 64);
line-height: 18px;
}
