.myAppsCardOne{
  background-color: white;
  float: left;
  width: 30%;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
}


.savedOppsOne{
  background-color: white;
  float: left;
  width: 30%;
  margin-left: 2%;
  border-top: 4px solid #ffc800;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.75);
}
